{% extends 'layout.html' %}
{% block content %}
  <section class="admin-section">
    <h2>Nuevo Producto</h2>
    <form method="post" enctype="multipart/form-data">
      {{ form.hidden_tag() }}
      <label for="name">Nombre</label>
      {{ form.name() }}
      <label for="description">Descripción</label>
      {{ form.description() }}
      <label for="price">Precio</label>
      {{ form.price() }}
      <label for="image">Imagen</label>
      {{ form.image() }}
      {{ form.submit(class_="btn") }}
    </form>
  </section>
{% endblock %}
